<header class="header">
  <a routerLink="/home" class="header-buy"><h1>Buy Partisan</h1></a>
  <nav class="nav-bar">
    <ul class="list-container">
      <li>
        <a routerLink="/google-civic" class="header-google">Google Civic</a>
      </li>
      <li>
        <a routerLink="/national-congress" class="header-national-congress"
          >National Congress</a
        >
      </li>
      <li>
        <a routerLink="/bills-by-member" class="header-pro">Pro Publica</a>
      </li>
    </ul>
  </nav>
</header>
