.header {
  display: flex;
  justify-content: space-between;
  margin: 5px;

  align-items: center;
}

.header-buy {
  text-decoration: none;
  color: black;
}

.header-google {
  text-decoration: none;
  color: black;
}

.header-open {
  text-decoration: none;
  color: black;
}

.header-pro {
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
}
.list-container {
  display: flex;
  list-style-type: none;
}
