<header class="header">
  <a routerLink="/home" class="header-buy"
    ><img class="logo-img" src="../../assets/logoquantico2.png" alt=""
  /></a>
  <nav class="nav-bar">
    <ul class="list-container">
      <li>
        <a routerLink="/google-civic" class="header-local">My Local</a>
      </li>
      <li>
        <a routerLink="/national-congress" class="header-national-congress"
          >National Congress</a
        >
      </li>
      <!-- <li>
        <a routerLink="/bills-by-member" class="header-pro">Pro Publica</a>
      </li> -->
    </ul>
  </nav>
</header>
