<div class="parent-container">
  <ul class="list-parent">
    <li class="list-container" *ngFor="let info of specificBill">
      <button class="return-button" routerLink="/bills-by-member">X</button>
      <p><i class="titles">Bill Number</i>: {{ info.bill }}</p>
      <p><i class="titles">Committees</i>: {{ info.committees }}</p>
      <a class="hyper-links" href="{{ info.congressdotgov_url }}"
        >Congress.gov</a
      >
      <a class="hyper-links" href="{{ info.govtrack_url }}"><p>GovTrack</p></a>
      <p><i class="titles"> Major Action</i>: {{ info.latest_major_action }}</p>
      <p>
        <i class="titles">Date Since latest Action</i>:
        {{ info.latest_major_action_date }}
      </p>
      <p>
        <i class="titles">Presidential Statements</i>:
        {{ info.presidential_statements }}
      </p>

      <p><i class="titles">Title</i>: <br />{{ info.title }}</p>
      <p *ngIf="info.summary">
        <i class="titles">Summary</i>: {{ info.summary }}
      </p>
    </li>
  </ul>
</div>
