.member-search-form {
  display: flex;
  flex-direction: column;
}

.label {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: solid white 1px;
}

.button {
  margin: 5px 5px;
  padding: 3px;
  /* background-color: #357abf; */
  background: rgba(0, 0, 0, 0.7);
  border: solid white 1px;
  border-radius: 5px;
  border: 0;
  color: white;
}

.button:hover {
  background: rgba(255, 0, 0, 0.7);
}
@media only screen and (orientation: landscape) {
  .member-search-form {
    flex-direction: row;
    align-items: center;
  }
  .label {
    padding: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .member-search-form {
    padding: 0px;
  }
  .button {
    margin: 5px 10px;
    padding: 5px;
    /* background-color: #357abf; */
    background: rgba(0, 0, 0, 0.7);

    border-radius: 5px;
    border: 0;
    border: solid white 1px;
    color: white;
  }
  .label {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    padding: 5px;
    border: solid white 1px;
  }
  .member-input {
    padding: 5px;
    margin: 5px;
    width: 400px;
  }
}
