/* .content-container {
  overflow-y: scroll;
} */

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}
.h4-leg {
  color: white;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px;
  border-radius: 5px;
}
.leg-list-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 95vw;
  border-radius: 5px;
}
.leg-container {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  list-style: none;
  margin: 4px 2px;
}

.footnote {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px 5px 5px 5px;
  border-radius: 5px;
}
