.div-box {
  border: white solid 1px;
  margin: 5px;
}

.member-search {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.buttons {
  margin: 3px 3px;
  padding: 3px;
  /* background-color: #357abf; */
  background: rgba(0, 0, 0, 0.7);
  border: solid white 1px;
  border-radius: 5px;
  border: 0;
  color: white;
}

.buttons:hover {
  background: rgba(255, 0, 0, 0.7);
}

.bills-list-container {
  display: flex;
  justify-content: center;
  height: 65%;
}

.bills-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  /* margin-right: 45px; */
  color: white;
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll;
  width: 75%;
  align-items: center;
}

.hyper-link {
  color: rgba(255, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {
  .buttons {
    margin: 10px 10px;
    padding: 10px;
    /* background-color: #357abf; */
    background: rgba(0, 0, 0, 0.7);

    border-radius: 5px;
    border: 0;
    color: white;
    border: solid white 1px;
  }
}
