.member-page-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  border-radius: 5px;
  /* width: 5vw; */
}
.member-list-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 95vw;
  height: 65vh;
  border-radius: 5px;
  /* overflow-x: hidden; */
}
.member-container {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  list-style: none;
  margin: 4px 2px;
  height: 64vh;
  /* width: 95vw; */
  overflow: scroll;
}
.office-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.descriptive-text {
  color: red;
  font-weight: bold;
}
.member-links {
  text-decoration: none;
  color: white;
}
.member-links:hover {
  color: red;
  background-color: white;
}
.buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  margin-top: 10px;
  /* background-color: #ed3338; */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
  width: 76%;
}
.button:hover {
  background: rgba(255, 0, 0, 0.7);
}
@media only screen and (orientation: landscape) {
  .member-list-container {
    height: 40vh;
  }
  .member-container {
    height: 38vh;
  }
}
@media only screen and (min-width: 768px) {
  .member-list-container {
    height: 70vh;
  }
  .member-container {
    height: 69vh;
    overflow-x: hidden;
    font-size: large;
  }
}
