<div>
  <app-election-info
    (electionSearchEvent)="onElectionTermSubmit($event)"
  ></app-election-info>
</div>

<ul>
  <li *ngFor="let election of elections?.elections">
    <p>{{ election.id }}</p>
    <p>{{ election.name }}</p>
  </li>
</ul>

<ul>
  <li>
    <p>{{ voterInfo?.election.id }}</p>
    <p>{{ voterInfo?.election.name }}</p>
    <p>{{ voterInfo?.election.electionDay }}</p>
  </li>
</ul>

<ul>
  <li *ngFor="let voter of voterInfo?.contests">
    <p>{{ voter.office }}</p>
    <div *ngFor="let candidate of voter?.candidates">
      <p>{{ candidate.name }}</p>
    </div>
  </li>
</ul>
