<h2>Public Financial Disclosure</h2>
<ul>
  <li>
    <p><b>Candidate Name: </b>{{ candSummary?.cand_name }}</p>
    <p><b>State: </b>{{ candSummary?.state }}</p>
    <!-- <p><b>Cycle of Reports: </b>{{ candSummary?.cycle }}</p> -->
    <!-- <p><b>Party: </b>{{ candSummary?.party }}</p>
        <p><b>Chamber: </b>{{ candSummary?.chamber }}</p> -->
    <p><b>First Eected: </b>{{ candSummary?.first_elected }}</p>
    <p><b>Next Election: </b>{{ candSummary?.next_election }}</p>
    <p><b>Total Receipts Reported: $</b>{{ candSummary?.total }}</p>
    <p><b>Total Expenditures Reported: $</b>{{ candSummary?.spent }}</p>
    <p><b>Total Cash on Hand Reported: $</b>{{ candSummary?.cash_on_hand }}</p>
    <p><b>Total Debts Reported: $</b>{{ candSummary?.debt }}</p>
    <p><b>Candidate ID: </b>{{ candSummary?.cid }}</p>
    <p><b>Source of Attribution: </b>{{ candSummary?.origin }}</p>
    <p><b>Link to Source Data on OpenSecrets: </b>{{ candSummary?.source }}</p>
    <p><b>Date of Last Filed Report: </b>{{ candSummary?.last_updated }}</p>
  </li>
</ul>

---------------------------

<!-- <ul *ngIf="memberPFD?.name">
  <li>
    <p><b>Member Name: </b>{{ memberPFD?.name }}</p>
    <p><b>Data Year: </b>{{ memberPFD?.data_year }}</p>
    <p><b>Member ID: </b>{{ memberPFD?.member_id }}</p>
    <p>
      <b>Calculated Low Range Value of Net Worth: </b>${{ memberPFD?.net_low }}
    </p>
    <p>
      <b>Calculated High Range Value of Net Worth: </b>${{
        memberPFD?.net_high
      }}
    </p>
    <p>
      <b>Number of Position Records: </b>{{ memberPFD?.positions_held_count }}
    </p>
    <p><b>Number of Asset Records: </b>{{ memberPFD?.asset_count }}</p>
    <p>
      <b>Calculated Low Range Value of Assets: </b>${{ memberPFD?.asset_low }}
    </p>
    <p>
      <b>Calculated High Range Value of Assets: </b>${{ memberPFD?.asset_high }}
    </p>
    <p>
      <b>Number of Transaction Records: </b>{{ memberPFD?.transaction_count }}
    </p>
    <p><b>Lowest Value of Transaction Range: </b>${{ memberPFD?.tx_low }}</p>
    <p><b>Highest Value of Transaction Range: </b>${{ memberPFD?.tx_high }}</p>
    <p><b>Link to Data Source: </b>{{ memberPFD?.source }}</p>
    <p><b>Origin of Data: </b>{{ memberPFD?.origin }}</p>
    <p><b>Last Updated: </b>{{ memberPFD?.update_timestamp }}</p>
  </li>
</ul>
<ul *ngIf="memberPFDAssets[0]">
  <h2>Assets</h2>
  <li *ngFor="let asset of memberPFDAssets; index as i">
    <p><b>Asset Name: </b>{{ asset?.name }}</p>
    <p><b>Least Value of Asset's Worth: </b>${{ asset?.holdings_low }}</p>
    <p><b>Most Value of Asset's Worth: </b>${{ asset?.holdings_high }}</p>
    <p><b>Industry of Asset: </b>{{ asset?.industry }}</p>
    <p><b>Industry Sector ID: </b>{{ asset?.sector }}</p>
    <p><b>Parent Organization: </b>{{ asset?.subsidiary_of }}</p>
  </li>
</ul>
<ul *ngIf="memberPFDTransactions[0]">
  <h2>Transactions</h2>
  <li *ngFor="let transaction of memberPFDTransactions; index as i">
    <p><b>Asset Name: </b>{{ transaction?.asset_name }}</p>
    <p><b>Date of Transaction: </b>{{ transaction?.tx_date }}</p>
    <p><b>Bought, Sold, Exchanged: </b>{{ transaction?.tx_action }}</p>
    <p><b>Minimum Value of Transaction: </b>${{ transaction?.value_low }}</p>
    <p><b>Maximum Value of Transaction: </b>${{ transaction?.value_high }}</p>
  </li>
</ul>
<ul *ngIf="memberPFDPositions[0]">
  <h2>Positions</h2>
  <li *ngFor="let position of memberPFDPositions; index as i">
    <p><b>Position Title: </b>{{ position?.title }}</p>
    <p>
      <b>Organization With Which Position is Held: </b
      >{{ position?.organization }}
    </p>
  </li>
</ul> -->
-------------------------
<h2>Top 10 Contributors</h2>
<p><b>Explanatory Text: </b>{{ candTopContributors?.notice }}</p>
<ul>
  <!-- <li> -->
  <!-- <p><b>Candidate Name (Party): </b>{{ candTopContributors?.cand_name }}</p> -->
  <!-- <p><b>Candidate ID:</b>{{ candTopContributors?.cid }}</p> -->
  <!-- <p><b>Cycle Year: </b>{{ candTopContributors?.cycle }}</p> -->
  <!-- </li> -->

  <li *ngFor="let contributor of candTopContributor; index as i">
    <p><b>Org Name: </b>{{ contributor?.org_name }}</p>
    <p><b>Total From All Itemized Source: </b>${{ contributor?.total }}</p>
    <p><b>Total PAC Contributions: </b>${{ contributor?.pacs }}</p>
    <p><b>Total Individual Contributions: </b>${{ contributor?.indivs }}</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Attribution Origin: </b>{{ candTopContributors?.origin }}</p>
    <p><b>Link to Data: </b>{{ candTopContributors?.source }}</p>
  </li>
</ul>

--------------------
<h2>Total Contributions by Sector:</h2>
<ul>
  <li>
    <!-- <p><b>Candidate Name (Party): </b>{{ candTopIndustries?.cand_name }}</p> -->
    <!-- <p><b>Candidate ID:</b>{{ candTopIndustries?.cid }}</p> -->
    <!-- <p><b>Cycle Year Reported: </b>{{ candTopIndustries?.cycle }}</p> -->
    <p><b>Attribution Origin: </b>{{ candTopIndustries?.origin }}</p>
    <p><b>Link to Data: </b>{{ candTopIndustries?.source }}</p>
    <p><b>Last Updated: </b>{{ candTopIndustries?.last_updated }}</p>
  </li>
  <li *ngFor="let industry of candTopIndustry; index as i">
    <p><b>Sector Name: </b>{{ industry?.sector_name }}</p>
    <p><b>SectorID: </b>${{ industry?.sectorid }}</p>
    <p><b>Total Individual Contributions: </b>${{ industry?.indivs }}</p>
    <p><b>Total PAC Contributions: </b>${{ industry?.pacs }}</p>
    <p><b>Total Itemized Contributions: </b>${{ industry?.total }}</p>
  </li>
</ul>
---------------------------------------------
