<div class="financial-page-container">
  <div class="header-buttons">
    <h2 class="PFD-h1">Public Financial Disclosures</h2>
    <div class="buttons-div">
      <button class="button" (click)="showCandSummary()">
        Show Financial Summary
      </button>
      <button class="button" (click)="showTopIndustries()">
        Show Total Contributions by Sector
      </button>
      <button class="button" (click)="showTopContributors()">
        Show Top 10 Contributing Organizations
      </button>
    </div>
  </div>
  <div class="financial-lists-container">
    <div class="summary-container">
      <ul *ngIf="showCandSumm">
        <li class="summary-list">
          <h3>Financial Summary</h3>
          <p>
            <span class="descriptive-text">Candidate Name: </span
            >{{ candSummary?.cand_name }}
          </p>
          <p>
            <span class="descriptive-text">State: </span
            >{{ candSummary?.state }}
          </p>
          <p>
            <span class="descriptive-text">First Eected: </span
            >{{ candSummary?.first_elected }}
          </p>
          <p>
            <span class="descriptive-text">Next Election: </span
            >{{ candSummary?.next_election }}
          </p>
          <p>
            <span class="descriptive-text">Total Receipts Reported: </span>${{
              candSummary?.total
            }}
          </p>
          <p>
            <span class="descriptive-text">Total Expenditures Reported: </span
            >${{ candSummary?.spent }}
          </p>
          <p>
            <span class="descriptive-text">Total Cash on Hand Reported: </span
            >${{ candSummary?.cash_on_hand }}
          </p>
          <p>
            <span class="descriptive-text">Total Debts Reported: </span>${{
              candSummary?.debt
            }}
          </p>
          <p>
            <span class="descriptive-text">Candidate ID: </span
            >{{ candSummary?.cid }}
          </p>
          <p>
            <span class="descriptive-text">Source of Attribution: </span
            >{{ candSummary?.origin }}
          </p>
          <p>
            <span class="descriptive-text"
              >Link to Source Data on OpenSecrets:
            </span>
          </p>
          <p>
            {{ candSummary?.source }}
          </p>
          <p>
            <span class="descriptive-text">Date of Last Filed Report: </span
            >{{ candSummary?.last_updated }}
          </p>
        </li>
      </ul>
    </div>
    <div class="topInd-container" *ngIf="showTopInd">
      <ul>
        <li class="topInd-header-list">
          <h3>Total Contributions by Sector:</h3>
          <p>
            <span class="descriptive-text">Attribution Origin: </span
            >{{ candTopIndustries?.origin }}
          </p>
          <p>
            <span class="descriptive-text">Link to Data: </span
            >{{ candTopIndustries?.source }}
          </p>
          <p>
            <span class="descriptive-text">Last Updated: </span
            >{{ candTopIndustries?.last_updated }}
          </p>
        </li>
        <li
          class="topInd-content-list"
          *ngFor="let industry of candTopIndustry; index as i"
        >
          <p>
            <span class="descriptive-text">Sector Name: </span
            >{{ industry?.sector_name }}
          </p>
          <p>
            <span class="descriptive-text">SectorID: </span>${{
              industry?.sectorid
            }}
          </p>
          <p>
            <span class="descriptive-text"
              >Total Individual Contributions: </span
            >${{ industry?.indivs }}
          </p>
          <p>
            <span class="descriptive-text">Total PAC Contributions: </span>${{
              industry?.pacs
            }}
          </p>
          <p>
            <span class="descriptive-text">Total Itemized Contributions: </span
            >${{ industry?.total }}
          </p>
        </li>
      </ul>
    </div>
    <div class="top10-container" *ngIf="showTopCont">
      <ul>
        <li class="top10-header-list">
          <h3>Top 10 Contributing Organizations</h3>
          <p>
            <span class="descriptive-text">Explanatory Text: </span
            >{{ candTopContributors?.notice }}
          </p>
        </li>
        <li
          class="top10-content-list"
          *ngFor="let contributor of candTopContributor; index as i"
        >
          <p>
            <span class="descriptive-text">Org Name: </span
            >{{ contributor?.org_name }}
          </p>
          <p>
            <span class="descriptive-text"
              >Total From All Itemized Source: </span
            >${{ contributor?.total }}
          </p>
          <p>
            <span class="descriptive-text">Total PAC Contributions: </span>${{
              contributor?.pacs
            }}
          </p>
          <p>
            <span class="descriptive-text"
              >Total Individual Contributions: </span
            >${{ contributor?.indivs }}
          </p>
        </li>
        <li class="top10-attribution-list">
          <p>
            <span class="descriptive-text">Attribution Origin: </span
            >{{ candTopContributors?.origin }}
          </p>
          <p>
            <span class="descriptive-text">Link to Data: </span
            >{{ candTopContributors?.source }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
