<div class="buttons">
  <button class="form-button" (click)="showAllReps()">
    Show My State Officals
  </button>

  <button class="form-button" (click)="showAllElections()">
    Show My Upcoming Elections
  </button>

  <button class="form-button" routerLink="/national-congress">
    Go to National Congress
  </button>
</div>
<div class="content-container">
  <ul class="list-background" *ngIf="showElections">
    <li class="rep-box" *ngFor="let election of GcivElections?.elections">
      <p>{{ election.name }}</p>
      <p>{{ election.id }}</p>
      <p>{{ election.election_date }}</p>
    </li>
  </ul>

  <ul class="list-background" *ngIf="showReps">
    <li *ngFor="let reps of GcivRepresentativesData" class="rep-box">
      <p>{{ reps.name }}</p>
      <div *ngFor="let names of reps.people">
        <a href="{{ names.urls }}"
          ><p>{{ names.name }}</p></a
        >
        <p *ngIf="names.phones">{{ names.phones[0] }}</p>
        <div *ngFor="let channels of names.channels">
          <p>{{ channels.type }}: {{ channels.id }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
