<button (click)="showAllReps()">Show My State Officals</button>

<button (click)="showAllElections()">Show My Upcoming Elections</button>

<button routerLink="/national-congress">Go to National Congress</button>

<ul *ngIf="showElections">
  <li *ngFor="let election of GcivElections?.elections">
    <p>{{ election.name }}</p>
    <p>{{ election.id }}</p>
    <p>{{ election.election_date }}</p>
  </li>
</ul>

<ul *ngIf="showReps">
  <li *ngFor="let reps of GcivRepresentativesData">
    <p>{{ reps.name }}</p>
    <div *ngFor="let names of reps.people">
      <p>{{ names.name }}</p>
    </div>
  </li>
</ul>
