.rep-box {
  border: white 1px solid;
  border-radius: 10px;
  display: flex;
  width: 99%;
  flex-direction: column;
  text-align: center;
  padding: 10px 5px;
}
.list-background {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow-x: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 75%;
  align-items: center;
}

.content-container {
  height: 75vh;
  justify-content: center;
  display: flex;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.list-content {
  width: 80%;
  display: flex;
}

.form-button {
  margin: 3px 3px;
  padding: 3px;

  background: rgba(0, 0, 0, 0.7);

  border-radius: 5px;
  border: 0;
  color: white;
}

.form-button:hover {
  background: rgba(255, 0, 0, 0.7);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: red;
  background-color: white;
}

.descriptive-text {
  color: red;
}
.website-link {
  text-decoration: none;
  color: white;
}
.website-link:hover {
  text-decoration: none;
  color: red;
  background-color: white;
}
.info-paragraph {
  font-style: italic;
}
.rep-box-div {
  border: 1px solid white;
}
@media only screen and (orientation: landscape) {
  .content-container {
    height: 50vh;
  }
}
@media only screen and (min-width: 768px) {
  .form-button {
    margin: 10px 10px;
    padding: 10px;

    background: rgba(0, 0, 0, 0.7);

    border-radius: 5px;
    border: 0;
    color: white;
  }
}
