<!-- <div class="searchStateLegislator-bar">
  <app-search-legislators
    (searchLegislatorsByStateEvent)="onLegislatorsByStateSearchSubmit($event)"
  ></app-search-legislators>
</div> -->
<div class="search-org-by-name-bar">
  <app-search-organizations-by-name
    (searchOrgsByNameEvent)="onOrgsByNameSearchSubmit($event)"
  ></app-search-organizations-by-name>
</div>
<!-- <ul>
  <li *ngFor="let legislator of legislators">
    <p>Candidate ID: {{ legislator["@attributes"].cid }}</p>
    <p>Candidate Name: {{ legislator["@attributes"].firstlast }}</p>
    <p>Candidate Party: {{ legislator["@attributes"].party }}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let contributingInd of contributingInds">
    <p>Industry Name: {{ contributingInd["@attributes"].industry_name }}</p>
    <p>Industry Code: {{ contributingInd["@attributes"].industry_code }}</p>
    <p>
      Individual Contributions: ${{ contributingInd["@attributes"].indivs }}
    </p>
    <p>PAC Contributions: ${{ contributingInd["@attributes"].pacs }}</p>
    <p>Total Contributions: ${{ contributingInd["@attributes"].total }}</p>
  </li>
</ul> -->

<ul>
  <li *ngFor="let organization of organizations">
    <p>{{ organization["@attributes"].orgname }}</p>
    <p>{{ organization["@attributes"].orgid }}</p>
  </li>
</ul>

<ul>
  <li>
    <p><b>Org Name:</b> {{ organization?.orgname }}</p>
    <p><b>CRP OrgID:</b> {{ organization?.orgid }}</p>
    <p><b>Most Recent Cycle:</b> {{ organization?.cycle }}</p>
    <p><b>Total Contributions:</b> ${{ organization?.total }}</p>
    <p>
      <b>Total Contributions From Individuals:</b> ${{ organization?.indivs }}
    </p>
    <p><b>Total Contributions From PACs:</b> ${{ organization?.pacs }}</p>
    <p><b>Total Soft Money:</b> ${{ organization?.soft }}</p>
    <p><b>Total From 527 Organizations:</b> ${{ organization?.tot527 }}</p>
    <p>
      <b>
        Total Contributions to Democractic Candidates and Party Committees:</b
      >
      ${{ organization?.dems }}
    </p>
    <p>
      <b> Total Contributions to Republican Candidates and Party Committees:</b>
      ${{ organization?.repubs }}
    </p>
    <p>
      <b> Total Lobbying Money for 2 Years of Cycle:</b> ${{
        organization?.lobbying
      }}
    </p>
    <p>
      <b>Total Spent on Independent Expenditures:</b> ${{
        organization?.outside
      }}
    </p>
    <p>
      <b> Number of Members Invested in This Organization:</b>
      {{ organization?.mems_invested }}
    </p>
    <p><b>Total Given to PACs:</b> ${{ organization?.gave_to_pac }}</p>
    <p>
      <b>Total $ Given to Party Committees:</b> ${{
        organization?.gave_to_party
      }}
    </p>
    <p>
      <b>Total $ Given to 527 Organizations:</b> ${{
        organization?.gave_to_527
      }}
    </p>
    <p><b>Total $ Given to Candidates:</b> ${{ organization?.gave_to_cand }}</p>
    <p><b>Link to Source Data on OpenSecrets:</b> {{ organization?.source }}</p>
  </li>
</ul>
