<!-- <div class="searchStateLegislator-bar">
  <app-search-legislators
    (searchLegislatorsByStateEvent)="onLegislatorsByStateSearchSubmit($event)"
  ></app-search-legislators>
</div> -->
<div class="search-org-by-name-bar">
  <app-search-organizations-by-name
    (searchOrgsByNameEvent)="onOrgsByNameSearchSubmit($event)"
  ></app-search-organizations-by-name>
</div>
<!-- <ul>
  <li *ngFor="let legislator of legislators">
    <p>Candidate ID: {{ legislator["@attributes"].cid }}</p>
    <p>Candidate Name: {{ legislator["@attributes"].firstlast }}</p>
    <p>Candidate Party: {{ legislator["@attributes"].party }}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let contributingInd of contributingInds">
    <p>Industry Name: {{ contributingInd["@attributes"].industry_name }}</p>
    <p>Industry Code: {{ contributingInd["@attributes"].industry_code }}</p>
    <p>
      Individual Contributions: ${{ contributingInd["@attributes"].indivs }}
    </p>
    <p>PAC Contributions: ${{ contributingInd["@attributes"].pacs }}</p>
    <p>Total Contributions: ${{ contributingInd["@attributes"].total }}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let organization of organizations">
    <p>{{ organization["@attributes"].orgname }}</p>
    <p>{{ organization["@attributes"].orgid }}</p>
  </li>
</ul> -->

<!-- <ul>
  <li>
    <p><b>Org Name:</b> {{ organization?.orgname }}</p>
    <p><b>CRP OrgID:</b> {{ organization?.orgid }}</p>
    <p><b>Most Recent Cycle:</b> {{ organization?.cycle }}</p>
    <p><b>Total Contributions:</b> ${{ organization?.total }}</p>
    <p>
      <b>Total Contributions From Individuals:</b> ${{ organization?.indivs }}
    </p>
    <p><b>Total Contributions From PACs:</b> ${{ organization?.pacs }}</p>
    <p><b>Total Soft Money:</b> ${{ organization?.soft }}</p>
    <p><b>Total From 527 Organizations:</b> ${{ organization?.tot527 }}</p>
    <p>
      <b>
        Total Contributions to Democractic Candidates and Party Committees:</b
      >
      ${{ organization?.dems }}
    </p>
    <p>
      <b> Total Contributions to Republican Candidates and Party Committees:</b>
      ${{ organization?.repubs }}
    </p>
    <p>
      <b> Total Lobbying Money for 2 Years of Cycle:</b> ${{
        organization?.lobbying
      }}
    </p>
    <p>
      <b>Total Spent on Independent Expenditures:</b> ${{
        organization?.outside
      }}
    </p>
    <p>
      <b> Number of Members Invested in This Organization:</b>
      {{ organization?.mems_invested }}
    </p>
    <p><b>Total Given to PACs:</b> ${{ organization?.gave_to_pac }}</p>
    <p>
      <b>Total $ Given to Party Committees:</b> ${{
        organization?.gave_to_party
      }}
    </p>
    <p>
      <b>Total $ Given to 527 Organizations:</b> ${{
        organization?.gave_to_527
      }}
    </p>
    <p><b>Total $ Given to Candidates:</b> ${{ organization?.gave_to_cand }}</p>
    <p><b>Link to Source Data on OpenSecrets:</b> {{ organization?.source }}</p>
  </li>
</ul> -->
<!-- <ul>
  <li>
    <p><b>Candidate Name: </b>{{ candSummary?.cand_name }}</p>
    <p><b>Candidate ID: </b>{{ candSummary?.cid }}</p>
    <p><b>Cycle: </b>{{ candSummary?.cycle }}</p>
    <p><b>State: </b>{{ candSummary?.state }}</p>
    <p><b>Party: </b>{{ candSummary?.party }}</p>
    <p><b>Chamber: </b>{{ candSummary?.chamber }}</p>
    <p><b>First ELected: </b>{{ candSummary?.first_elected }}</p>
    <p><b>Next Election: </b>{{ candSummary?.next_election }}</p>
    <p><b>Total Receipts Reported: $</b>{{ candSummary?.total }}</p>
    <p><b>Total Expenditures Reported: $</b>{{ candSummary?.spent }}</p>
    <p><b>Total Cash on Hand Reported: $</b>{{ candSummary?.cash_on_hand }}</p>
    <p><b>Total Debts Reported: $</b>{{ candSummary?.debt }}</p>
    <p><b>Source of Attribution: </b>{{ candSummary?.origin }}</p>
    <p><b>Link to Source Data on OpenSecrets: </b>{{ candSummary?.source }}</p>
    <p><b>Date of Last Filed Report: </b>{{ candSummary?.last_updated }}</p>
  </li>
</ul> -->
<ul>
  <li>
    <p><b>Candidate Name (Party): </b>{{ candTopContributors?.cand_name }}</p>
    <p><b>Candidate ID:</b>{{ candTopContributors?.cid }}</p>
    <p><b>Cycle Year: </b>{{ candTopContributors?.cycle }}</p>
    <p><b>Attribution Origin: </b>{{ candTopContributors?.origin }}</p>
    <p><b>Link to Data: </b>{{ candTopContributors?.source }}</p>
    <p><b>Explanatory Text: </b>{{ candTopContributors?.notice }}</p>
  </li>
  <li *ngFor="let contributor of candTopContributor; index as i">
    <!-- <li> -->
    <p><b>Org Name: </b>{{ contributor?.org_name }}</p>
    <p><b>Total From All Itemized Source: </b>${{ contributor?.total }}</p>
    <p><b>Total PAC Contributions: </b>${{ contributor?.pacs }}</p>
    <p><b>Total Individual Contributions: </b>${{ contributor?.indivs }}</p>
  </li>
</ul>
