<div class="searchStateLegislator-bar">
  <app-search-legislators
    (searchLegislatorsByStateEvent)="onStateSearchSubmit($event)"
  ></app-search-legislators>
</div>
<!-- <ul>
  <li *ngFor="let legislator of legislators">
    <p>Candidate ID: {{ legislator["@attributes"].cid }}</p>
    <p>Candidate Name: {{ legislator["@attributes"].firstlast }}</p>
    <p>Candidate Party: {{ legislator["@attributes"].party }}</p>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let contributingInd of contributingInds">
    <p>Industry Name: {{ contributingInd["@attributes"].industry_name }}</p>
    <p>Industry Code: {{ contributingInd["@attributes"].industry_code }}</p>
    <p>
      Individual Contributions: ${{ contributingInd["@attributes"].indivs }}
    </p>
    <p>PAC Contributions: ${{ contributingInd["@attributes"].pacs }}</p>
    <p>Total Contributions: ${{ contributingInd["@attributes"].total }}</p>
  </li>
</ul> -->

<ul>
  <li *ngFor="let organization of organizations">
    <p>{{ organization["@attributes"].orgname }}</p>
    <p>{{ organization["@attributes"].orgid }}</p>
  </li>
</ul>
