.paragraph-and-image {
  margin: 0;
}

.paragraph {
  margin: 15px 10px 10px 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  width: 86%;
}

.form-label {
  font-weight: bold;
  margin-left: 10px;
}

.home-content {
  margin: 0px 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  width: 86%;
}

.home-input {
  margin: 0 10px;
  padding: 5px;
}

.form-container {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;

  margin: 0px 10px;
  height: 83vh;

  flex: 3;
  color: white;
}

.address-form {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin: 10px 10px;
  padding: 10px;

  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 0;
  color: white;
}
.form-button:hover {
  background: rgba(255, 0, 0, 0.7);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.buttons {
  margin: 0px 5px;

  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
  width: 96%;
}
.buttons:hover {
  background: rgba(255, 0, 0, 0.7);
}

.bottom-photo {
  width: 350px;
  height: 250px;
}
footer {
  position: absolute;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7vh;
  bottom: 0;
  background: rgba(0, 0, 0, 0);

  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-bp {
  text-align: center;
  font-weight: bolder;
  font-size: large;
}
.footer-credits {
  text-align: center;
}
.footer-credits a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-weight: bolder;
}
@media only screen and (orientation: landscape) {
  .paragraph {
    margin: 5px 10px 10px 10px;
    font-size: small;
  }
  .form-button {
    padding: 5px;
    margin: 2px 10px;
  }
  .buttons {
    padding: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .paragraph {
    width: 60%;
    font-size: large;
  }
  .home-content {
    width: 60%;
    font-size: larger;
  }
  .form-label {
    margin-left: 10px;
    font-size: medium;
  }
  .home-input {
    width: 96%;
    margin-left: 10px;
  }
  .buttons {
    width: 99%;
  }
}
