.paragraph-and-image {
  margin: 0;
}

.paragraph {
  margin: 10px;
}

.seal-image {
  height: 225px;
  width: 225px;
  display: flex;
  margin: 0;
  align-items: center;
}

.home-content {
  padding: 20px;
}

.home-input {
  margin: 1px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  /* background-color: #737f87; */
  /* background: radial-gradient(blue, white, red); */

  height: 100vh;
}

.address-form {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.buttons {
  margin: 5px;
}

.bottom-photo {
  width: 350px;
  height: 250px;
}
