<form
  #addressStateForm="ngForm"
  (ngSubmit)="getAndSetValues(addressStateForm); setGlobalAddress()"
>
  <label for="address">Enter your Address</label>
  <input type="text" name="address" id="address" ngModel />
  <!-- <label for="state">Enter your State</label>
  <input type="text" name="state" id="state" ngModel /> -->
  <button>Submit Address</button>
</form>

<button routerLink="/google-civic">Want to know more?</button>

<button routerLink="/national-congress">Go to National Congress</button>
<!-- <ul>
  <li *ngFor="let election of elections?.elections">
    <p>{{ election.name }}</p>
    <p>{{ election.id }}</p>
    <p>{{ election.election_date }}</p>
  </li>
</ul> -->
<!-- <form
  #electionForm="ngForm"
  (ngSubmit)="getAndSetElectionId(electionForm); getAndSetVoterInfo()"
>
  <label for="election">Get more Info</label>
  <input type="text" name="election" id="election" ngModel />
  <button>Submit</button>
</form>

<ul>
  <li *ngFor="let voter of voterInfo?.contests">
    <p>{{ voter.office }}</p>
    <div *ngFor="let candidate of voter?.candidates">
      <p>{{ candidate.name }}</p>
    </div>
  </li>
</ul> -->
